body {
  background-color: #80B192;
  color: #493548;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
}

nav {
  background-color: #4B4E6D;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background: url("bloc-logo.png");
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background: #fff url("instagram-pic.jpg") top center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a{
  text-decoration: none;
}

a:link{
    color: #80B192;
}

a:visited{
  color: #F786AA;
}

a:hover{
  color: #9C9EAF;
}

a:active{
  color: #8B7E8A;
}

figcaption{
  font-style: italic;
}

h1 {
  font-size: 3em;
  line-height: 1.6em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.6em;
}

.author {
  font-size: 100%;
}


article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
